body {
    background-color: lightgreen;
}
#flex {
    display: flex;
    flex-direction: row;

}

nav {
    background-color: lightgreen;
}
main {
    background-color: white;
}
h1 {
    color: darkgreen;
}

a {
    color:darkgreen;
}
